.black-square{
    background-color: white;
    padding:2px;
    width: 2px;
    height: 2px;
}

.white-square{
    background-color: black;
    padding:2px;
    width: 2px;
    height: 2px;
}

#gridContainer{
    display: flex;
    justify-content: center;
}

#menu{
    text-align: center;
}